<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta
      name="description"
      content="Petshop Rare Birds, Accesories and Quizes"
    />
    <meta
      name="keywords"
      content="Petshop, Rare, Bird, Quiz, Extinct, Conservation"
    />
    
    <title>On the brink</title>

    <%- include("../fragments/head") %>
    <link
      rel="stylesheet"
      href="/resurse/css/galerie-animata.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/resurse/css/video.css"
      type="text/css"
    />
  </head>

  <body>
    <%- include("../fragments/header") %>
    <main>

      <div class="grid">
        <section id="welcome">
          <h2>Welcome to our website!</h2>
          <p class="description">
            We are here to inform you about the rarest birds in the world and
            how you can help prevent their extintion.
          </p>
          <div>
            <hr class="mno" />
          </div>

          <p class="description">On our website you can find:</p>
          <div class="info">
            <div>Bird Facts</div>
            <div>Extinction</div>
            <div>Quizes</div>
            <div>Rescued Birds</div>
            <div>Photos of Birds</div>
            <div>Statistics</div>
          </div>
        </section>

        <div id="about">
          <section>
            <h2>About us</h2>
            <!-- Gallery -->
            <section id = "static-gallery">
              <h2>Gallery</h2>
              <%- include("../fragments/gallery") %>

            </section>

            <section id="sectiune-galerie-animata">
              <h2>Galerie</h2>
              <div id="galerie-animata" >
                  <% for (let imag of locals.imagini){  %>
                          <figure>
                      <picture>
                          <!-- il ia pe primul care se potriveste cu query-ul din media-->
                          <source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                          <img src="/<%-imag.mare%>" alt="text"/>
                      </picture>
                      <figcaption><%-imag.descriere%></figcaption>
                  </figure>
                  <% } %>
              </div>
          </section>
            <article>
              <h3><i class="fas fa-atom fa-spin"></i> Our Motivation</h3>
              <p>
                Here, we strive to have a personal relationship with every
                costumer. We invest time to advise you on proper bird care,
                training, breeding and nutrition - anything there is t to know.
                Our relationship with you is a personal one and we take your
                concerns seriously. We’re dedicated to creating a relationship
                with you that will keep you coming back time and time again. For
                more details, you can find us at our contact page.<strong>
                  Stay informed!</strong
                >
              </p>
            </article>
            <article>
              <h3>Our promise</h3>
              <p>
                We ensure you that all pets are selected with
                <em>outstanding pet criteria</em> in mind. We review the overall
                health of each animal using our combined years of experience in
                the field, looking at such factors as age, size, coat,
                behaviour, unique markings, overall appearance and desirability
                as a <b>pet</b>.
              </p>
            </article>
            <h3>Our cause</h3>
                <aside>
                    <b>Birds are some of the most beautiful animals in the world</b> and also one of the most vulnerable. These majestic creatures are often indicator species and alert humans of the changes in the environment. Unfortunately, human activity has severely impacted the native habitat of countless <b>birds</b> around the world and many are on the brink of <i>extinction</i>. In fact, two of the <b>rare birds</b> on this list are <i>extinct</i> in the wild and only captive individuals exist.
                </aside> 
                <blockquote cite= "https://abcbirds.org/blog/four-rarest-birds-in-americas/">
                  <p>Over the last 500 years, as many as 183 <b>bird</b> species have gone extinct. Given that the more famous of these — the <i>Passenger Pigeon</i> and <i>Ivory-billed Woodpecker</i> — are immortalized in grainy black-and-white photos, you might be forgiven for assuming that bird <b>extinction</b> xis a thing of the past. In truth, however, this danger is far from gone.</p>
                  <p>In only the last 10 years, eight birds have likely gone <b>extinct</b>. And, unlike past extinctions, which overwhelmingly affected island birds lacking the mobility to flee threats, recent disappearances have included more land-locked birds, particularly in South America.</p>
                  <p>All told, approximately one-eighth of all known <b>birds</b> — 1,469 species — are now threatened with <b>extinction</b>. Of these, 222 are declared <em>Critically Endangered</em>, in most dire need of <i>conservation</i>. In some cases, only a few dozen birds survive.<small> In the worst, one or two remain. </small>       </p>
                  <hr>
                  <p>Despite appearances, the situation for these birds isn't hopeless. Timely, well-planned recovery efforts can work, and ABC has successfully helped pull several of the rarest <b>bird</b> species from the brink. In total, <em>25 Critically Endangered bird species</em> have begun to bounce back over the last 18 years thanks to the support of numerous conservation organizations.</p>
              </blockquote>
            <div class="iframes">
              <div class="container">
              <iframe name = "video"  src = "https://www.youtube.com/embed/9l8IAvMQpTU" frameborder=0 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>

              <div class="tabs-iframe">
                <a class="tab" href="https://www.youtube.com/embed/6TCy2MkmakA" target ="video"><div>10 Rarest Birds on Earth</div></a>
                <a class="tab" href = "https://www.youtube.com/embed/9l8IAvMQpTU" target = "video"><div>10 Most Expensive Birds</div></a>
                <a class="tab" href ="https://www.youtube.com/embed/oqNROoKmPLU" target="video"><div>Endangered species</div></a>
                
              </div>
            </div>
            
            <div id="stil-video">
                <video width="640" height="400" controls preload="metadata" poster="/resurse/imagini/feathers.jpg">
                    <source src="resurse/video/Why parrots can talk like humans.mp4" type="video/mp4">
                    <source src="resurse/video/Why parrots can talk like humans.ogv" type="video/ogv">
                    <track class = "track" label="Romana" kind="captions" srclang="ro" src="/resurse/video/tracks/captions-video-ro.vtt" default>
                    <track class = "track" label="English" kind="captions" srclang="en" src="/resurse/video/tracks/captions-video.vtt">
                </video>
            </div>
                 

            <section>
              <h4>Current Data</h4>
                  <a class = "link" href="https://www.rspb.org.uk/our-work/conservation/satellite-tracking-birds/" target="_blank">Satellite Tracking Birds</a>
                  <details>
                      <summary>Top ten rarest birds</summary>
                      <ol>
                          <li>Bahama Nuthatch</li>
                          <li>Stresemann’s Bristlefront</li>
                          <li>Blue-eyed Ground-Dove</li>
                          <li>Antioquia Brushfinch</li>
                          <li>Imperial Amazon</li>
                          <li>New Caledonian Owlet-Nightjar</li>
                          <li>Cebu Flowerpecker</li>
                          <li>Hawaiian Crow</li>
                          <li>Madagascar Pochard</li>
                          <li>Spix’s Macaw</li>
                      </ol>
                  </details>
                  <section>
                      <h5>Frequently asked questions</h5>
                          <details>
                              <summary>How can I make a diffrence?</summary>
                                  <p><strong>Stay informed!</strong> Be Aware of Endangered Species.Of the nearly 10,000 bird species in the world, more than 10 percent are officially classified as threatened or endangered.</p>
                                  <p>Support Bird Conservation Programs: Supporting conservation programs and projects is the most immediate way to help reduce the risk of bird extinctions.</p>
                                  <p>Share Your Love of Birding: Introducing more people to birds and birding is an exceptional way to minimize the risk of future extinctions, because the more people who are involved in protecting birds, the greater and more effective those protections will be.</p>
                          </details>
                          <details>
                              <summary>Why Birds Migrate?</summary>
                                  <p><q>Migration is critical in the life cycle of birds, and without this annual journey many birds would not be able to raise their young.</q> Birds migrate to find the richest, most abundant food sources that will provide adequate energy to nurture young birds. If no birds migrated, competition for adequate food during breeding seasons would be fierce and many birds would starve. Instead, birds have evolved different migration patterns, times, and routes to give themselves and their offspring the greatest chance of survival.</p>
                          </details>
                          <details>
                              <summary>What animals prey on birds?</summary>
                                  <p>Birds are attacked and eaten by other birds, including falcons, owls and eagles. Different kinds of serpents and other reptiles kill adult and baby birds alike. Four-legged predators such as bobcats and weasels are bird-eaters.</p>
                          </details>
                  </section>
               
          </section>

          </section>
        </div>

        <div id="layout_3">
          <h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt quas
            impedit odio dicta nihil molestiae in aspernatur delectus aut
            distinctio, exercitationem facere, doloribus reprehenderit!
            Perspiciatis earum commodi neque quasi deserunt.
          </h2>
          <p></p>
        </div>

        <section id="table">
          <!-- tabel -->
          <h2><i class="fas fa-feather"></i> Top 10 rarest birds stats</h2>
          <div class="table-container">
            <table id="t01">
              
              <!-- <thead> -->
                <tr>
                  <th>No</th>
                  <th>Bird</th>
                  <th>Population</th>
                  <th>Location</th>
                  <th>Conservation Status</th>
                  <th>Scientific Name</th>
                </tr>
              <!-- </thead> -->
              <!-- <tbody> -->
                <tr>
                  <td></td>
                  <td>Spix’s Macaw</td>
                  <td>~180</td>
                  <td>Captivity</td>
                  <td>Extinct in the wild</td>
                  <td>Cyanopsitta spixii</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Madagascar Pochard</td>
                  <td>&lt 150</td>
                  <td>Wetlands of Madagascar</td>
                  <td>Critically Endangered</td>
                  <td>Aythya innotata</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Hawaiian Crow</td>
                  <td>~115</td>
                  <td>Hawaii</td>
                  <td>Extinct in the wild</td>
                  <td>Corvus hawaiiensis</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Cebu Flowerpecker</td>
                  <td>&lt 105</td>
                  <td>Philippines</td>
                  <td>Critically Endangered</td>
                  <td>Dicaeum quadricolor</td>
                </tr>
                <tr>
                  <td></td>
                  <td>New Caledonian Owlet-Nightjar</td>
                  <td>&lt 50</td>
                  <td>New Caledonia</td>
                  <td>Critically Endangered</td>
                  <td>Aegotheles savesi</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Imperial Amazon</td>
                  <td>&lt 50</td>
                  <td>Island of Dominica</td>
                  <td>Critically Endangered</td>
                  <td>Amazona imperialis</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Antioquia Brushfinch</td>
                  <td>&lt 50</td>
                  <td>Colombia</td>
                  <td>Critically Endangered</td>
                  <td>Atlapetes blancae</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Blue-eyed Ground-Dove</td>
                  <td>&lt 20</td>
                  <td>Brazil</td>
                  <td>Critically Endangered</td>
                  <td>Columbina cyanopis</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Stresemann’s Bristlefront</td>
                  <td>One known individual</td>
                  <td>Mata do Passarinho Preserve, Brazil</td>
                  <td>Critically Endangered</td>
                  <td>Merulaxis stresemannii</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Bahama Nuthatch</td>
                  <td>None seen since 2018</td>
                  <td>None seen since 2018</td>
                  <td>possibly completely extinct</td>
                  <td>Sitta pusilla insularis</td>
                </tr>
                <!-- </tbody> -->
            </table>
            </div>
        </section>

        <div id="layout_4">
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
            necessitatibus, maxime nobis voluptatibus mollitia adipisci
            praesentium odit repellat accusamus dolor exercitationem omnis sequi
            voluptate laboriosam velit. Nesciunt repudiandae doloribus vel!
          </h2>
        </div>
        <div id="layout_5">
          <h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facere
            quae ratione totam voluptatibus at iste, odit a maxime ex
            reprehenderit repellendus nesciunt sint cum, tenetur quis et cumque
            eaque.
          </h2>
        </div>
        <div id="layout_6">
          <!-- date despre utilizatori -->
          <h2>The user's ip is  <%= adresa %>  </h2>
        </div>

        <div id="layout_7">
          <h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Perferendis consequuntur necessitatibus, id dignissimos magnam
            debitis quibusdam tempore aliquam commodi iste aliquid voluptas
            mollitia, neque et nobis ipsa aut, fuga minus.
          </h2>
        </div>

      </div>
      
     
      

    </main>

    <%- include("../fragments/footer") %>
    
  </body>

  <div class="banner">
    This is a school project
  </div>
</html>
